<!DOCTYPE html>
<html>
	<head>
		<title>
			WA2AEA Contest Logger
		</title>
		<script src="jquery-1.10.1.min.js"></script>
	</head>
	<body>
		<p>Welcome to the WA2AEA Contest Logger!</p>
		Contest:
		<select id="contest">
			<option value="">Select a Contest...</option>
			<option value="ARRL-SS-CW">ARRL-SS-CW</option>
			<option value="ARRL-SS-SSB">ARRL-SS-SSB</option>
			<option value="ARRL-FIELDDAY">ARRL-FIELDDAY</option>
			<option value="NY-QSO-PARTY">NY-QSO-PARTY</option>
			<option value="ON-QSO-PARTY">ON-QSO-PARTY</option>
		</select>
		<br />
		Server:<input id='server' type='text'></input><br />
		User:<input id='username' type='text'></input><br />
		Password:<input id='password' type='password'></input><br />
		<button type='button' onclick='loadData()' id='startContest'>Submit</button>
		<p id='info'></p>
		<script>
			function loadData() {
				var sqlServer = $('#server').val();
				var sqlUser = $('#username').val();
				var _sqlPass = $('#password').val();
				$('#password').val('');
				var contestName = $.trim($('#contest').find(":selected").val());
				if (contestName == "") {
					alert("No contest selected.");
					return;
				}
				var mysqliObject;
				$.post('connect.php', {server : sqlServer, user : sqlUser, pass : _sqlPass}, function(connectionObject) {
					var connectData = $.parseJSON(connectionObject);
					switch (connectData["code"]) {
						case 1045:
							document.getElementById("info").innerHTML = 'Cannot connect: Incorrect Username/Password.';
							return;
						case 1044:
							document.getElementById("info").innerHTML = 'Database does not exist.';
							return;
						case 2005:
							document.getElementById("info").innerHTML = 'Incorrect Server.';
							return;
						case 0:
							// Success
							//document.getElementById("info").innerHTML += connectData["object"];
							mysqliObject = connectData["object"];
							break;
						default:
							document.getElementById("info").innerHTML = 'Error ' + value + ' occurred.';
							return;
					}
				});
				$.post('ajaxname.php', {db : mysqliObject}, function(dataRecv) {
					document.getElementById("info").innerHTML += dataRecv;
				});
			}

			function checkTable() {
				// Check existing master_list

				// Check actual table

			}
		</script>
	</body>
</html>
